/* Number Guessing Game CSS

body {
	margin: 10px;
	background-color: #cccccc;
	font-family: Arial, sans-serif;
}

.button {
	margin-top: 10px;
	border-radius: 10px;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	width: 20%;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

#history {
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#game {
	background-color: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #cccccc;
	padding: 10px;
}

#status {
	font-size: 120%;
}

#footerArea {
	text-align: center;
	margin-top:5px;
	font-size: 90%;
	font-style: italic;
} */

body, html {
    height: 100%;
  }

body { 
    background-image: url("https://wallpaperplay.com/walls/full/0/a/6/218744.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}


/* body {
    background-color: lightblue;
  } */
  





/* http://cdn.litlepups.net/2015/07/24/a-cute-and-simple-desktop-wallpaper-with-a-circle-bergamot-bunny.jpg */
